{% load heroicons %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="module">
    import heroicons from 'https://cdn.jsdelivr.net/npm/heroicons@2.1.5/+esm'
    </script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        clifford: '#da373d',
                    }
                }
            }
        }
    </script>
</head>
<body class="bg-slate-950">
<h1 class="text-3xl ml-2 text-align-center text-white">Welcome, {{ user }}</h1>
<div class="flex justify-center">
    {% for post in posts %}
    	<div class="border-2 bg-slate-700 min-w-[25vw] w-fit h-fit rounded-lg mt-5 flex-wrap
            max-h-[55vh] overflow-x-hidden max-w-[40vw]">
            <div class="transition-all group" id="Post{{ post.id }}">
                <img src="{{ post.Img.url }}" alt="{{ post.Title }}"
                     class="rounded-lg h-[50vh] group-[.flex]:h-10 transition-all w-auto" id="Img{{ post.id }}">
                <div class="flex gap-2 mb-2 text-slate-200 ml-3 peer tiny w-full group-[.flex]:w-fit">
                    <span class="mt-2 flex-none">{% heroicon_outline "hand-thumb-up" %}</span>
                    <h1 class="mt-2 flex-auto max-w-[20vw] truncate">{{ post.Title }}{% lorem %}</h1>
                    <span class="mt-2 flex-1">{% heroicon_outline "hand-thumb-down" %}</span>
                    <button onclick="BldUp('{{ post.id }}', '{{ post.Descrp }}')" class="mt-2 flex-1 order-last float-right">
                        {% heroicon_outline "queue-list" %}</button>
                </div>
            </div>
            <div class="" id="Cmnt{{ post.id }}"></div>
            <div class="grid p-3 mt-5">
                {% for cmnt in post.comment_set.all %}
                	<div class="text-slate-200 border-2 rounded-lg p-3">
                        <div class="flex gap-2">
                            <img class="w-4 h-4 rounded-full" src="{{ cmnt.op.userprofile.Profile_pic.url }}" alt="{{ cmnt.op.username }}">
                            <span class="inline-block align-text-top text-slate-400">{{ cmnt.op.username }}</span>
                        </div>
                        <p>{{ cmnt.comment }}</p>
                    </div>
                {% empty %}
                	<p>No comments</p>
                {% endfor %}
            </div>
        </div>
    {% empty %}
        <div class="grid ml-2">
            <p class="text-white">No posts yet</p>
        </div>
    {% endfor %}
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous">
</script>
<script type="text/javascript">
    function getCookie(c_name) {
        if (document.cookie.length > 0) {
            c_start = document.cookie.indexOf(c_name + "=");
            if (c_start !== -1) {
                c_start = c_start + c_name.length + 1;
                c_end = document.cookie.indexOf(";", c_start);
                if (c_end === -1) c_end = document.cookie.length;
                return unescape(document.cookie.substring(c_start, c_end));
            }
        }
        return "";
    }

    function BldUp(PostID, Descrp) {
        document.getElementById(`Post${PostID}`).classList.toggle('flex')
        document.getElementById(`Cmnt${PostID}`).innerHTML += `<div class="p-2">` +
            `<form class="flex flex-wrap text-white" onsubmit="Comment_Form(${PostID});return false;" method="post">` +
            `{% csrf_token %}` +
            `{% for cfld in cmtf %}{{ cfld }}{% endfor %}` +
            `<button class="rounded-md bg-blue-700 p-2 text-slate-200" type="submit">Comment</button>` +
            '</from>' +
            `{% for cmnt in cmnts %}

            {% endfor %}
            ` +
            '</div>'
    }
    
    function Comment_Form(FormId) {
        $.ajaxSetup({
            headers: {"X-CSRFToken": getCookie("csrftoken")}
        });
        $.ajax({
            type: 'POST',
            url: {% url 'Home' %},
            dataType: 'json',
            async: true,
            data: {
                'Act': 'Comment',
                'Cmt': document.getElementById("Reply-" + Cmnt_Chn).value,
                'ID': FormId,
            },
            complete: function () {
                console.log("Commented")
            }
        });
    }
</script>
</body>
</html>